
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <style>
    </style>
  </head>
  <body>
    <main>
      <h2 class="p-2">Welcome, Admin</h2>

      <div class="cards">
        <div class="card">
          <h3>Total Users</h3>
          <p>{{totalUsers}}</p>
        </div>
      </div>

      <div class="p-10">
  <table class="table">
  <tr>
    <th>Full Name</th>
    <th>Position</th>
    <th>Mail</th>
    <th class="m-50">action</th>
  </tr>
  <tr *ngFor="let us of users">
    <td>{{us.fullName}}</td>
    <td>{{us.position}}</td>
    <td>{{us.email}}</td>
    <td>
      <button type="button" class="delete" (click)="deleteUser(user.id)">Delete</button>
      <button type="button" class="add">Add </button>
    </td>
  </tr>
  </table>
 </div>
      
    </main>
  </body>
</html>

