/* Set font size and color for table */
.table {
    font-size: 16px;
    color: #333;
  }
  
  /* Style the table header row */
  .table th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  /* Style the table data rows */
  .table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Add margin to the last table header for the action column */
  .table th.m-50 {
    margin-right: 50px;
  }
  
  /* Style the delete button */
  .button-delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
  }
  
  /* Style the add button */
  .button-add {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
.delete{
    background-color: #C21807;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
.add{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav h1 {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  main {
    margin: 20px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 24px;
    font-weight: bold;
  }
  
  .chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  
  .chart h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .chart img {
    width: 100%;
    height: auto;
  }